.menubox {
	float: left;
	width: 100%;
	background: url(../images/nav_con.jpg) no-repeat center top #30c4ff;
}
#nav {
	float: left;
	width: 100%;
}
#nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
#nav > ul > li {
	display: inline-block;
	position: relative;
	padding: 0 30px;
}
#nav > ul > li > a {
	color: #fff;
	display: block;
	line-height: 50px;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 1px 2px 0 #2aabdf;
	font-family: 'OpenSansSemibold';
}
#nav > ul > li > a:hover, #nav > ul > li:hover > a {
	color: #000;
	text-decoration: none;
}
#nav > ul > li.current {
	color: #fff;
	text-decoration: none;
	background: url(../images/nav_current.png) no-repeat center bottom;
}
#nav > ul > li.current > a {
	color: #fff;
}
#nav > ul > li:last-child {
	padding-right: 0px;
}
#nav ul ul, #nav ul ul ul {
	padding: 0px;
	border-radius: 0 0 5px 5px!important;
	position: absolute;
	left: -5000px;
	min-width: 100%;
	z-index: 100;
	opacity: 0;
	background: #30c4ff;
}
#nav ul li:hover ul {
	left: 0;
	opacity: 1;
}
#nav ul ul li:hover ul {
	left: 100%;
	opacity: 1;
}
#nav ul ul li ul {
	display: none;
	padding: 0px;
	margin: -27px 0 0;
}
#nav ul ul li:hover ul {
	display: block;
}
#nav ul ul li {
	white-space: nowrap;
	padding: 0;
	margin: 0px;
	float: left;
	width: 100%;
	border-top: 1px solid #eee;
}
#nav ul ul > li:last-child {
	border-bottom: none;
}
#nav ul ul a {
	font-size: 14px;
	color: #333;
	padding: 0 15px;
	text-decoration: none;
	line-height: 28px;
	display: block;
	font-family: 'OpenSansLight';
}
#nav ul ul > li:last-child a:hover {
	border-radius: 0 0 5px 5px;
}
#nav ul ul a:hover {
	color: #333;
	text-shadow: none;
	border-bottom: none;
	background: #fff;
}
/*
    Mobile Menu Core Style
*/

.slicknav_btn {
	position: relative;
	display: block;
	vertical-align: middle;
	float: right;
	padding: 7px 0;
	width: 100%;
	text-align: center;
	text-decoration: none;
	line-height: 1.125em;
	cursor: pointer;
}
.slicknav_btn:hover {
	text-decoration: none;
}
.slicknav_menu .slicknav_menutxt {
	display: block;
	line-height: 1.188em;
	float: none;
}
.slicknav_menu .slicknav_icon {
	float: left;
	display: none;
	margin: 0.188em 0 0 0.438em;
}
.slicknav_menu .slicknav_no-text {
	margin: 0
}
.slicknav_menu .slicknav_icon-bar {
	display: block;
	width: 1.125em;
	height: 0.125em;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
	margin-top: 0.188em
}
.slicknav_nav {
	clear: both
}
.slicknav_nav ul, .slicknav_nav li {
	display: block;
	border-bottom: 1px solid #fff;
}
.slicknav_nav li img {
	display: none;
}
.slicknav_nav li.slicknav_open {
	color: #333;
	background: #30C4FF;
}
.slicknav_nav li.slicknav_open > a > a, .slicknav_nav li.slicknav_open > a {
	color: #333;
}
.slicknav_nav ul, .slicknav_nav li:last-child {
	border: none;
}
.slicknav_nav .slicknav_arrow {
	font-size: 0.8em;
	margin: 0 0 0 0.4em;
}
.slicknav_nav .slicknav_item {
	display: block;
	cursor: pointer;
}
.slicknav_nav a {
	display: block
}
.slicknav_nav .slicknav_item a {
	display: inline
}
.slicknav_menu:before, .slicknav_menu:after {
	content: " ";
	display: table;
}
.slicknav_menu:after {
	clear: both
}
/* IE6/7 support */
.slicknav_menu {
*zoom: 1
}
/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu {
	width: 100%;
	font-size: 16px;
}
/* Button */
.slicknav_btn {
	margin: 0px;
	text-decoration: none;
	text-shadow: none;
	background: #30C4FF;
}
/* Button Text */
.slicknav_menu .slicknav_menutxt {
	color: #FFF;
	text-shadow: none;
	font-family: 'OpenSansSemibold';
}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
	background-color: #30C4FF;
}
.slicknav_nav {
	color: #fff;
	margin: 0;
	padding: 0;
	background: #30C4FF;
	font-size: 0.875em;
}
.slicknav_nav, .slicknav_nav ul {
	list-style: none;
	overflow: hidden;
}
.slicknav_nav ul {
	padding: 5px 20px;
	margin: 0;
	background: #30C4FF;
}
.slicknav_nav ul ul {
	background: #30C4FF;
}
.slicknav_nav .slicknav_item {
	padding: 5px 10px;
	margin: 0px;
}
.slicknav_nav a {
	padding: 5px 10px;
	margin: 0;
	text-decoration: none;
	font-family: 'OpenSansSemibold';
	color: #fff;
	text-shadow: 1px 2px 0 #2AABDF;
}
.slicknav_nav .slicknav_item a {
	padding: 0;
	margin: 0;
}
.slicknav_nav .slicknav_item:hover, .slicknav_nav a:hover {
	color: #333;
}
.slicknav_nav .slicknav_item:hover a {
	color: #333;
}
.slicknav_nav .slicknav_txtnode {
	margin-left: 15px;
}
.slicknav_menu {
	display: none;
}
@media screen and (max-width: 800px) {
.js #nav {
	display: none;
}
.js .slicknav_menu {
	display: block;
}
.menubox {
	width: 100%;
	margin: 5px 0 0;
}
}
@media screen and (max-width: 480px) {
.menubox {
	margin: 8px 0 0;
}
}